 

<table width="70%" class="cellpadding5" style="border-collapse: collapse; margin: 0 auto;">
<tr>
<th align="center" style="border: 1px solid black;">Item</th>
<th align="center" style="border: 1px solid black;">Cost</th>
</tr>


<tr>
<td align="center" style="border: 1px solid black;">Faculty Registration</td>
<td align="center" style="border: 1px solid black;"> $50.00</td>
</tr>

#set($total = 50)

#if($num != 0)
<tr>
<td align="center" style="border: 1px solid black;">$num Night(s) in the hotel</td>
#set($subtotal = $num*150)
#set($total = $total + $subtotal)
<td align="center" style="border: 1px solid black;">#dollars($subtotal)</td>
</tr>
#end


#if($banquet)
<tr>
<td align="center" style="border: 1px solid black;">Gala Banquet Ticket</td>
#set($total = $total + 100)
<td align="center" style="border: 1px solid black;">$100.00</td>
</tr>
#end

#if($total != 50)
<tr>
<td align="right" style="border: 1px solid black;">Total</td>
<td align="center" style="border: 1px solid black;">#dollars($total)</td>
</tr>
#end


</table>

<br /><br />