[$helpers.enShortName] Account deletion


This is an automated email to notify you that the $helpers.longName account associated with this email address ($user.email) has been deleted.#if($self.equals("no")) The account deletion was either done at your request or because you have more than one $helpers.longName accounts. 

If the former is the case, we're#else We're#end sorry to see you leave our community. We would very much like to hear from you with feedback on how we could have improved your experience. Please email us anytime at $helpers.systemEmail with your comments and suggestions. 

We also welcome you to create a new user account at any time. 

If you did not request this deletion of your account and we made an error, please email $helpers.systemEmail as soon as possible and we will do our best to correct the situation. 

Thank you for your involvement. We look forward to hearing from you again in the future!
