[$helpers.enShortName] New password


new password: $password 

Dear $name,

By your request, we have reset your $helpers.longName password. You new password is listed above, which you can now use to sign in to $helpers.longName at http://${helpers.domain}${helpers.appPrefix}/ (when copy-pasting this value, please do not include any leading or trailing spaces). 

Once you are signed in, you can make changes to your user account, including changing your password to something easier to remember. If you did not request this change of password, please e-mail $helpers.systemEmail.  

Thanks!