[$helpers.enShortName] Membership fees received


Dear $name,

Thank you for your continued support for and involvement in $helpers.longName. This email is to confirm that your payment for renewing your regular $helpers.longName membership has been received and recorded.

As a regular member you FILL THIS IN

Thank you for your continued support and involvement in $helpers.longName!
