[$helpers.enShortName] Membership fees received -- Info required


Dear $name,

Thank you for becoming a regular member of $helpers.longName! Please consider this email confirmation that your membership fees have been received.

As you may know, $helpers.longName is a member-driven organization. By becoming a regular member of $helpers.longName means that you FILL THIS IN

To proceed, you should sign in to your account at http://${helpers.domain}${helpers.appPrefix}/profile/EditProfile and provide us with your contact information, as per the requirements of membership. We will ensure that this information will remain confidential. For more information, please see our Privacy Policy at http://${helpers.domain}${helpers.appPrefix}/home/PrivacyPolicy.

Thank you for being a part of $helpers.longName!