
<ul>
<li><a href="$base/volunteering/ApplicationList/$app.session.id">&laquo; back to session list</a></li>
<li><a href="$base/actions/DeleteApplication/$app.id" onclick="return confirm('Please confirm: really delete this application?');">delete application</a></li>
<li><a href="$base/profile/UserProfile/$app.user.id">view profile info &raquo;</a></li>
</ul>
