
<ul>
<li><a href="$base/volunteering/ApplicationSessionInfo/$session.id">&laquo; return to application session details</a></li>
<li><a href="$base/volunteering/EditEvaluationCriteria/$session.id/new">add an evaluation criteria</a></li>
</ul>
