

<br />
<h3>Cancellation & Changes Policy</h3>

<p>Should you wish to <b>cancel</b> your registration we will refund 
your payment of conference fees less a $20 refund fee 
for students, or a $50 fee for non-students. Please note that
if you pay Regular Membership dues during registration, these
are non-refundable. To cancel your registration, just visit this page 
again once registered.</p>

<p>Should you wish to make any <b>changes</b> to your registration options 
(such as accomodation preferences) you may do so by first cancelling 
your existing registration. You will then be refunded your previous payment
less the applicable fee (see above) and your coupon code will be released, 
if you used one.  You will then be able to immediately register again with 
your new preferences and using the same coupon code, if applicable. </p>

<p>Any questions about this policy or process should be directed to 
<a href="mailto:$helpers.systemEmail">$helpers.systemEmail</a>. </p>
